# Основные зависимости для ядра сканера
PyYAML==6.0.1
colorama==0.4.6
chardet==5.2.0
GitPython==3.1.41

# Зависимости для веб-интерфейса
Flask==3.0.0
Jinja2==3.1.3

# Зависимости для запуска тестов
pytest==7.4.0
